.Wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container {
    background-color: gold;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid gray; /* 테두리 두께 및 색 */
    border-radius: 20px; /* 꼭짓점 둥근 정도 */
    & > * { /* 각 항목별 간격(?) → 잘 모르겠음 */
        :not(:last-child) {
            margin-bottom: 25px;
        }
    }
}

.PostContainer {
    background-color: greenyellow;
    height: 100%;
    width: 100%;
    padding: 25px 16px;
}

.PhotoContainer {
    background-color: dodgerblue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 10px;
}

.Photo {
    background-image: url("../nulluser_downsize.jpg");
    border: 3px solid gray;
    height: 105px;
    width: 105px;
    border-radius: 100%;
    object-fit: cover;
}

.Label {
    background-color: coral;
    font-size: 16px; /* 글자 크기 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    height: 30px;
}

.tag {
    background-color: aquamarine;
    text-align:unset;
    margin-right: 10px;
    width: 70px;
    height: 100%;
}

.write {
    background-color: plum;
    text-align: start;
    width: 180px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.Button {
    padding: 8px 16px; /* 잘 모르겠음 */
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer; /* 잘 모르겠음 */
}