 .sidebar {
    background-color: #FFFFFF; /* 배경색 */
    display: flex; /* 잘 모르겠음 */
    flex-direction: column; /* display flex 일 때 수직 정렬 */
    align-items: center; /* 잘 모르겠음 */
    justify-content: center; /* 잘 모르겠음 */
    width: 400px;
    height: 600px;
}

.side_filter {
    display: flex;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    flex-direction: row; /* display flex 일 때 수평 정렬 */
    justify-content: center;
    width: 100%;
    height: 20%;
}

.container {
    background-color: rebeccapurple;
    color: white; /* 글자색 */
    border-top: 3px solid white; /* 테두리 방향별 두께(합쳐서 border-width로도 사용) */
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
    height: 100%;
    &.activated {background-color: orange;} /* 클릭으로 인한 활성화 시 배경 색 변경 */
}

.side_rankup {
    background-color: skyblue;
    display: flex;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.side_rankdown {
    background-color: plum;
    display: flex;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}