body {
    /* The image used */
    background-image: url("background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    overflow: hidden;

    scrollbar-width: none;
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(2);
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%; 
}

footer {
    width: 100%;
    height: 90px;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #868686;
    padding-top: 15px;
    color: #f9f7f7;
    font-size: 11px;
    background-color: #383838e2;
}

footer p {
    margin-top: 0; margin-bottom: 0;   
}

footer p span {
    display: inline-block;
    margin-left: 20px;
}
 
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
}

/* Control the right side */
.right {
    right: 0;
    background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title{
    position:relative;
    top: 30%;
    left: 5%;
    text-align: left;
    color: white;
    margin-top: 5%;
}
.subtitle{
    position:relative;
    left: 5.5%;
    text-align: left;
    color: white;
    margin-top: 10px;
}
.trendbutton{
    position: relative;
    width: "500px"; 
    height: "580px"; 
    background-color: "rgba(200, 200, 200, 0.8)"; 
    text-align: left;
    font-family:'mbcfont';
    margin-right: auto !important
}
.trendbutton:hover{
    filter:contrast(175%) brightness(103%);
}
.analysisbutton{
    position: relative;
    width: "250px"; 
    height: "290px"; 
    background-color: "rgba(200, 200, 200, 0.8)"; 
    text-align: left;
    font-family:'mbcfont';
    margin-right: auto !important
}
.analysisbutton:hover{
    filter:contrast(175%) brightness(103%);
}