.youtubeEmpty {
    display: flex;
    justify-content: center;
}

.youtubeBorder {
    background-color: rgb(249, 249, 249);
    display: flex;
    height: 10%;
    width: 90%;
    margin-top: 1px;
    border-top: 1px solid rgb(230, 230, 230);
}

.youtubeImage {
    display: flex;
}

.youtubeView {
    display:inline;
    align-self: flex-end;
}

.youtubeTitle {
    display: inline-block;
    width: 300px;
    margin-left: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

